* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan";
}

body {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 20px;
}
h1 {
    margin-top: 40px;
    font-size: 5.5rem;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: "Science Gothic";
}
h3 {
    margin: 30px;
    font-size: 2.5rem;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}
.choices button {
    font-size: 3rem;
    padding: 18px;
    border-radius: 15px;
    border: none;
    background: #2f324d;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
.choices button:hover {
    background: #3d4163;
}
#playerDisplay, #compDisplay, #resultDisplay {
    margin: 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.scoreDisplay {
    margin: 15px;
    font-size: 1.3rem;
    font-weight: 500;
}
#playerDisplay, #compDisplay {
    display: inline;
    margin: 20px;
}
.green {
    color: #1fff27;
    font-weight: bold;
}
.red {
    color: rgb(255, 121, 121);
    font-weight: bold;
}
.yellow {
    color: yellow;
    font-weight: bold;
}

#musicBtn {
    font-size: 1.2rem;
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    background: #2f324d;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    margin-bottom: 0px;
}

#musicBtn:hover {
    background: #3d4163;
    transform: scale(1.08);
}

#musicBtn:active {
    transform: scale(0.95);
}


.choices .rock {
    transform: translateX(-100vw);
    animation: rock 1s ease-out forwards, glow 1s ease-out 1s forwards;
}

.choices .paper {
    transform: translateY(100vh);
    animation: paper 1s ease-out forwards, glow 1s ease-out 1s forwards;
}

.choices .scissor {
    transform: translateX(100vw);
    animation: scissor 1s ease-out forwards, glow 1s ease-out 1s forwards;
}

@keyframes rock {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(0); }
}

@keyframes paper {
    0% { transform: translateY(100vh); }
    100% { transform: translateY(0); }
}

@keyframes scissor {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(0); }
}

@keyframes glow {
    0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
    50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
    }
    100% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
}

@media (max-width: 600px) {
    h1 {
    font-size: 3rem;
    }
    .choices button {
    font-size: 2.3rem;
    padding: 14px;
    }
    #playerDisplay, #compDisplay, #resultDisplay {
    font-size: 1.2rem;
    }
    .scoreDisplay {
    font-size: 1rem;
    }
    #playerDisplay, #compDisplay {
    display: block;
    }
}